
.flex {
    display: flex;
   

}

ul {
    list-style-type: none;

}

li {

    margin-right: .5rem;
}

.bg-white {
    background-color: white;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
}

.space-between {
    justify-content: space-between;
}